h1,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-div {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car_wash_logo {
  width: 8%;
  text-align: center;
  height: auto;
  font-family: "Poppins", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.car_wash_logo img {
  width: 80%;
  height: auto;
  object-fit: contain;
  display: block;
}

.car_wash_logo p {
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.container1 {
  background-color: white;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  height: 150px;
}

.div1 {
  text-align: center;
  background-color: white;
}

.div2 {
  background-color: white;
}

.boxa {
  background-color: white;
  padding: 25px;
}

.boxa2 {
  background-color: blue;
  color: white;
}

.copyright {
  border: 1px;
  text-align: center;
}
.copyright_div {
  text-align: center;
}

button {
  background-color: blue;
  color: white;
}

.container2 {
  height: 350px;
  background-color: #252525;
  color: white;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.copyright_div {
  padding-left: 50px;
  padding-right: 50px;
  grid-column: span 4 / span 4;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-center i {
  margin-right: 10px;
}

.header-center p {
  margin: 0;
  margin-right: 20px;
}

.top-part {
  margin: 20px;
}

.top-part-left {
  font-size: 40px;
}

.top-part-right {
  background-image: url("/src/images/landing_page_image.svg");
  width: 10px;
}

.top-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.button {
  background-color: #0c426e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.boxb4 button {
  background-color: #0c426e;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-black {
  background-color: #252525;
}
.gray_text_color {
  color: #a4a4a4;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact-item p {
  margin-bottom: 3px;
  margin-top: 3px;
}
.links_icons {
  font-size: large;
}
