div {
  background-color: red;
}

.header-div {
  margin: 20px;
}

.car_wash_logo {
  background-color: green;
  width: 8%;
  text-align: center;
  height: auto;
  font-family: "Poppins", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.car_wash_logo img {
  width: 80%;
  height: auto;
  object-fit: contain;
  display: block;
}

.car_wash_logo p {
  margin-top: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}


.container1{
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.div1{
  text-align: center;
  background-color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div2{
  background-color: white;
}

.boxa{
  background-color: white;
  
}

.boxa2{
  background-color: blue;
}

.container2{
  background-color: white;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5, 300px);
}

